<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Bere Artizanală</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <div class="nav-group left">
            <!-- Link-urile tale aici -->
            <a href="/Bere/Index">Home</a>
            <a href="/Despre">Povestea The Beer Institute</a>
            <a href="/Shop">Shop</a>
            <a href="/SpinAndDrink/Index">Spin and Drink</a>
        </div>

        <div class="auth-buttons">
            <a class="btn btn-success" href="/Cart/Index">
                <i class="fas fa-shopping-cart"></i>
            </a>
            @if (Context.Session.GetString("UserEmail") != null)
            {
                <div class="welcome-message">
                        <i class="fas fa-user-circle"></i>
                    <span>Welcome, @Context.Session.GetString("FirstName")!</span>
                </div>
                <button onclick="location.href='/Logout'">Logout</button>
            }
            else
            {
                <button onclick="location.href='/Auth/SignUp'">Sign Up</button>
                <button onclick="location.href='/Auth/Login'">Login</button>
            }
        </div>
    </nav>

    <!-- Conținutul principal al paginii -->
    <div class="content">
        @RenderBody()
    </div>

    <!-- Footer-ul paginii -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="/Auth/SignUp">Want to place an order? Make an account!</a></li>
                        <li><a href="/shop">Want a beer?</a></li>
                        <li><a href="/Cart/Index">Done with shopping? Check your Cart!</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a>Email: artizan@gmail.com</a></li>
                        <li><a>Phone: +40 777 999 111</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/yoan.marcu/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/CraftBeerBrew"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/mariusnastase_/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.instagram.com/stefan.nae1/"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>