<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Bere Artizanală</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar">
        <div class="nav-group left">
            <!-- Link-urile tale aici -->
            <button onclick="location.href='/Despre'">Povestea The Beer Institute</button>
            <a href="/Shop">Shop</a>
            <a href="/Abonament">Abonament</a>
            <a href="/AdventBox">Advent Box</a>
            <a href="/Contact">Contact</a>
            <a href="/SpinAndDrink/Index">Spin and Drink</a>
        </div>

        <div class="auth-buttons">
            <a class="btn btn-success" href="/Cart/Index">
                <i class="fas fa-shopping-cart"></i>
            </a>
            @if (Context.Session.GetString("UserEmail") != null)
            {
                <div class="welcome-message">
                        <i class="fas fa-user-circle"></i>
                    <span>Welcome, @Context.Session.GetString("FirstName")!</span>
                </div>
                <button onclick="location.href='/Logout'">Logout</button>
            }
            else
            {
                <button onclick="location.href='/Auth/SignUp'">Sign Up</button>
                <button onclick="location.href='/Auth/Login'">Login</button>
            }
        </div>
    </nav>

    <!-- Conținutul principal al paginii -->
    <div class="content">
        @RenderBody()
    </div>

    <!-- Footer-ul paginii -->
    <footer>
       
    </footer>

</body>
</html>