@page
@model WebApplication1.Pages.DespreModel
@{
    Layout = null;
    ViewData["Title"] = "About Craft Beer";
}
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Despre.css" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="despre-container">
        <div class="despre-content">
            <h1>@ViewData["Title"]</h1>
            <p>
                <strong>Curiosities about Craft Beer</strong><br><br>
                <strong>Variety of Ingredients:</strong> One of the unique features of craft beer is the use of a wide range of ingredients. In addition to barley, hops, water and yeast, craft brewers often experiment with unconventional ingredients such as fruit, spices, and even chocolate or coffee.<br>
                <br>
                <strong>Various Styles:</strong> There are hundreds of styles of craft beer, from hoppy IPAs to creamy stouts and sour ales. This diversity allows beer lovers to continually explore new tastes and flavours.<br>
                <br>
                <img src="/images/From Brew to You 2019.png" alt="Procesul de fabricație al berii artizanale">
                <br>
                <strong>Local Impact:</strong> Many craft breweries focus on supporting local communities, using local ingredients and employing local labour. This has led to a revival of local economies and the creation of a strong culture around craft beer.<br>
                <br>
                <strong>Festivals and Events:</strong> Craft beer has become a cultural phenomenon, with dedicated festivals and events around the world. These events are excellent opportunities for tasting and meeting brewers and other beer enthusiasts.<br>
                <br>
                <strong>Innovation and Experimentation:</strong> Craft brewers are often at the frontier of beer innovation, experimenting with new fermentation and bottling methods to create unique and memorable products.<br>
                In conclusion, craft beer is not just a drink, but an expression of creativity and passion. It is an evolving field where tradition meets innovation, creating a unique consumer experience.
            </p>
        </div>
</body>