@page
@model WebApplication1.Pages.DespreModel
@{
    Layout = null;
    ViewData["Title"] = "Despre Berea Artizanală";
}
@{
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Despre.css" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="despre-container">
        <div class="despre-content">
            <h1>@ViewData["Title"]</h1>
            <p>
                <strong>Curiozități despre Berea Artizanală</strong><br><br>
                <strong>Varietatea Ingredientelor:</strong> Una dintre caracteristicile unice ale berii artizanale este utilizarea unei game largi de ingrediente. Pe lângă orz, hamei, apă și drojdie, producătorii de bere craft experimentează adesea cu ingrediente neconvenționale cum ar fi fructe, condimente, și chiar ciocolată sau cafea.<br>
                <br>
                <strong>Stiluri Diverse:</strong> Există sute de stiluri de bere artizanală, de la IPA-uri bogate în hamei până la stout-uri cremoase și sour ale acide. Această diversitate permite iubitorilor de bere să exploreze continuu noi gusturi și arome.<br>
                <br>
                <img src="/images/From Brew to You 2019.png" alt="Procesul de fabricație al berii artizanale">
                <br>
                <strong>Impactul Local:</strong> Multe berării artizanale se concentrează pe susținerea comunităților locale, folosind ingrediente locale și angajând mână de lucru din zonă. Acest lucru a dus la o renaștere a economiilor locale și la crearea unei culturi puternice în jurul berii artizanale.<br>
                <br>
                <strong>Festivale și Evenimente:</strong> Berea artizanală a devenit un fenomen cultural, cu festivaluri și evenimente dedicate în întreaga lume. Aceste evenimente sunt oportunități excelente pentru degustări și întâlniri cu producători și alți pasionați de bere.<br>
                <br>
                <strong>Inovație și Experimentare:</strong> Producătorii de bere artizanală sunt adesea la frontiera inovației în domeniul berii, experimentând cu noi metode de fermentație și îmbuteliere pentru a crea produse unice și memorabile.<br>
                În concluzie, berea artizanală nu este doar o băutură, ci o expresie a creativității și pasiunii. Este un domeniu în continuă evoluție, unde tradiția se întâlnește cu inovația, creând o experiență unică pentru consumatori.
            </p>


        </div>

</body>