html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevenim orice scroll orizontal */
    box-sizing: border-box;
    height: 100%; /* Forțăm body să aibă înălțimea minimă a viewport-ului */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; /* Asigură că imaginea de fundal acoperă întregul ecran */
}

/* Stiluri pentru navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Gruparea elementelor de navigație */
.navbar .nav-group {
    display: flex;
    align-items: center;
}

/* Stiluri uniforme pentru butoane și linkuri */
.navbar button, .navbar a {
    text-decoration: none;
    color: white;
    background-color: #444; /* Culoare de fundal pentru butoane */
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* Stiluri pentru hover */
.navbar button:hover, .navbar a:hover {
    background-color: #555;
}

/* Separarea butoanelor 'Sign Up' și 'Login' */
.navbar .nav-group.right {
    margin-left: auto;
}

/* Media queries pentru ecrane mai mici */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .nav-group {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navbar button, .navbar a {
        width: 100%;
        margin: 5px 0; /* Adaugă spațiu între butoane pe ecrane mici */
    }
}
/* Ajustează padding-ul pentru a compensa înălțimea navbar-ului */
.content {
    padding-top: 60px; /* Spațiu pentru navbar */
    min-height: 100vh; /* Înălțimea minimă a content-ului să fie cel puțin cât viewport-ul */
}

footer {
    position: relative; /* Poziționare relativă la body */
    width: 100%;
}

.auth-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    padding-right: 5%;
}
