@page
@model WebApplication1.Pages.Auth.LoginModel
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="/css/loginSignUp.css">
</head>

<div class="header-container">
    <h2 class="signup-title">Login</h2>
    <img src="/images/logoSignUp.png" alt="Logo" class="signup-logo">
</div>

<div class="signup-container">
    <!-- mesaj de eroare -->
    <div asp-validation-summary="All" class="text-danger"></div>

    <form method="post">
        <div>
            <label asp-for="User.Email"></label>
            <input asp-for="User.Email" />
            <span asp-validation-for="User.Email"></span>
        </div>
        <div>
            <label asp-for="User.Password"></label>
            <input asp-for="User.Password" type="password" />
            <span asp-validation-for="User.Password"></span>
        </div>
        <button type="submit">Login</button>
    </form>
    <div class="signup-link">
        Don't have an account? <a href="/Auth/SignUp">Sign Up</a>
    </div>
</div>

