@page
@model WebApplication1.Pages.Bere.IndexModel
@{
    Layout = "_Layout";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Bere Artizanală</title>
    <link rel="stylesheet" href="~/css/bere.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="overlay">
        <div class="text">
            <h1>Craft Beer</h1>
            <p>Craft beer is a favourite of many beer lovers because of its intense taste. The resulting flavours are always unique and traditional.</p>
            <a href="/shop" class="button">Take a look</a>
        </div>
    </div>
</body>
</html>
